<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qycc_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,330},{109,68}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{109,68}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_0_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,90},{131,86}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{131,86}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,664},{105,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{105,70}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_0_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{129,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{129,90}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,666},{105,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{105,68}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_0_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,488},{127,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{127,90}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_0_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,262},{109,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{109,68}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_0_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{131,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,90}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_0_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,200},{111,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{111,62}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_0_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,174},{131,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{131,84}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,0},{113,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{113,72}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,440},{127,88}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{127,88}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,658},{105,70}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{105,70}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,442},{127,90}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,90}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,644},{105,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{105,68}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,434},{127,90}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,90}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,596},{107,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{107,68}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,398},{127,90}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,90}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_1_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,578},{107,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{107,62}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_1_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,356},{129,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{129,84}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,600},{107,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{107,66}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,84},{131,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,90}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,590},{107,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{107,68}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,352},{127,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{127,90}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,532},{107,68}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{107,68}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,346},{129,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{129,88}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,524},{109,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{109,66}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,264},{129,88}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,88}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_2_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,136},{111,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{111,64}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_2_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{133,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{133,88}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,728},{105,66}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{105,66}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{129,88}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,88}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,528},{107,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{107,68}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,258},{129,88}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,88}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,734},{103,70}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{103,70}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{131,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,90}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,578},{107,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{107,66}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,176},{129,88}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,88}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_3_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,72},{111,64}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{111,64}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>qycc_3_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,0},{133,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{133,84}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>areaItems.pvr.ccz</string>
        </dict>
    </dict>
</plist>
