<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TZTX003_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{463,142}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,41},{463,142}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX003_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,492},{303,116}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,49},{303,116}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX003_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,144},{411,190}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,0},{411,190}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX003_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,335},{407,156}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,11},{407,156}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX003_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,656},{255,86}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,70},{255,86}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX003_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,400},{255,86}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,70},{255,86}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX003_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,144},{255,86}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,70},{255,86}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX003_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,492},{261,88}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,68},{261,88}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX003_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,922},{275,96}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,60},{275,96}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX003_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,823},{283,98}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,58},{283,98}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX003_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,720},{289,102}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,54},{289,102}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX003_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,609},{289,110}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,46},{289,110}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX003_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,754},{255,86}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,70},{255,86}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>BattleGroupRes2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
