<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TZTX002_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{511,142}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,45},{511,142}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX002_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,194},{331,118}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,53},{331,118}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX002_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1},{451,192}}</string>
                <key>offset</key>
                <string>{-13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,1},{451,192}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX002_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,144},{451,156}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,16},{451,156}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX002_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,659},{279,86}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,76},{279,86}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX002_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,659},{279,86}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,76},{279,86}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX002_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,572},{279,86}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,76},{279,86}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX002_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,485},{279,86}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,76},{279,86}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX002_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,301},{293,94}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,68},{293,94}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX002_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,301},{301,96}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,66},{301,96}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX002_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,194},{307,98}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,64},{307,98}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX002_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,194},{307,108}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,54},{307,108}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX002_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,398},{279,86}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,76},{279,86}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>BattleGroupRes1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
