<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TZTX001_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{701,184}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{701,184}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX001_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,472},{335,112}}</string>
                <key>offset</key>
                <string>{18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,73},{335,112}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX001_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,343},{337,128}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,70},{337,128}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX001_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,186},{345,158}}</string>
                <key>offset</key>
                <string>{18,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,46},{345,158}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX001_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,343},{351,166}}</string>
                <key>offset</key>
                <string>{18,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,43},{351,166}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX001_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1},{335,172}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,32},{335,172}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX001_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,345},{335,164}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,21},{335,164}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX001_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,695},{325,170}}</string>
                <key>offset</key>
                <string>{18,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,8},{325,170}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX001_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,693},{329,112}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,65},{329,112}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX001_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1},{341,138}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,40},{341,138}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
            <key>TZTX001_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,343},{349,164}}</string>
                <key>offset</key>
                <string>{17,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,13},{349,164}}</string>
                <key>sourceSize</key>
                <string>{703,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>BattleGroupBegin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
