<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DW1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,370},{80,50}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{80,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,174},{82,60}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,29},{82,60}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,91},{82,62}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,27},{82,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,276},{84,44}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,45},{84,44}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,257},{84,46}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,43},{84,46}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,146},{90,46}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{90,46}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,87},{90,58}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{90,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{90,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{90,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,87},{90,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,0},{90,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{90,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,193},{82,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,174},{82,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{80,44}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,42},{80,44}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,363},{82,46}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,40},{82,46}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,357},{82,48}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{82,48}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,321},{82,48}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{82,48}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,312},{82,50}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{82,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{82,52}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{82,52}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DW1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,257},{82,54}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{82,54}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>DW1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
