<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kw_zz_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,165},{244,50}}</string>
                <key>offset</key>
                <string>{107,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,77},{244,50}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,179},{246,58}}</string>
                <key>offset</key>
                <string>{107,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,73},{246,58}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,179},{246,70}}</string>
                <key>offset</key>
                <string>{107,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,68},{246,70}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,121},{250,74}}</string>
                <key>offset</key>
                <string>{107,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,66},{250,74}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,0},{270,120}}</string>
                <key>offset</key>
                <string>{97,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,49},{270,120}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{290,164}}</string>
                <key>offset</key>
                <string>{87,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,32},{290,164}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,0},{312,178}}</string>
                <key>offset</key>
                <string>{76,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,26},{312,178}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{346,164}}</string>
                <key>offset</key>
                <string>{58,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,31},{346,164}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,165},{292,164}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,29},{292,164}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,250},{204,172}}</string>
                <key>offset</key>
                <string>{-84,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,21},{204,172}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,263},{174,170}}</string>
                <key>offset</key>
                <string>{-142,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{174,170}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,438},{178,172}}</string>
                <key>offset</key>
                <string>{-128,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,28},{178,172}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,395},{200,198}}</string>
                <key>offset</key>
                <string>{-129,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{200,198}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,196},{202,198}}</string>
                <key>offset</key>
                <string>{-129,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{202,198}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,423},{190,186}}</string>
                <key>offset</key>
                <string>{-130,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{190,186}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,495},{170,172}}</string>
                <key>offset</key>
                <string>{-131,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,27},{170,172}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,0},{90,90}}</string>
                <key>offset</key>
                <string>{-130,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,66},{90,90}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,91},{86,88}}</string>
                <key>offset</key>
                <string>{-130,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,67},{86,88}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
            <key>kw_zz_01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,178},{84,88}}</string>
                <key>offset</key>
                <string>{-130,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,67},{84,88}}</string>
                <key>sourceSize</key>
                <string>{470,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>kw_zz2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
