<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,405},{130,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,130}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>yj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,270},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>yj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,270},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>yj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>yj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,135},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>yj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,135},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>yj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,135},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>yj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>yj_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>yj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>yj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>yj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,405},{130,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,130}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>NewMail.pvr.ccz</string>
        </dict>
    </dict>
</plist>
