<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QT0116_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,245},{77,81}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,47},{77,81}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
            <key>QT0116_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,131},{105,113}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,28},{105,113}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
            <key>QT0116_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,123},{105,113}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,28},{105,113}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
            <key>QT0116_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,229},{105,111}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,30},{105,111}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
            <key>QT0116_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,123},{121,127}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{121,127}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
            <key>QT0116_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1},{121,129}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{121,129}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
            <key>QT0116_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1},{121,131}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{121,131}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
            <key>QT0116_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1},{121,131}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{121,131}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
            <key>QT0116_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,273},{121,133}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{121,133}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
            <key>QT0116_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{121,135}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{121,135}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
            <key>QT0116_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{121,135}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{121,135}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
            <key>QT0116_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,407},{97,121}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{97,121}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>Produce3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
