<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CZ01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,57},{38,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{38,74}}</string>
                <key>sourceSize</key>
                <string>{86,106}</string>
            </dict>
            <key>CZ02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{60,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{60,92}}</string>
                <key>sourceSize</key>
                <string>{86,106}</string>
            </dict>
            <key>CZ03.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,150},{68,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{68,98}}</string>
                <key>sourceSize</key>
                <string>{86,106}</string>
            </dict>
            <key>CZ04.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,0},{72,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{72,102}}</string>
                <key>sourceSize</key>
                <string>{86,106}</string>
            </dict>
            <key>CZ05.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,73},{76,100}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{76,100}}</string>
                <key>sourceSize</key>
                <string>{86,106}</string>
            </dict>
            <key>CZ06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,81},{74,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{74,100}}</string>
                <key>sourceSize</key>
                <string>{86,106}</string>
            </dict>
            <key>CZ07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,102}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{80,102}}</string>
                <key>sourceSize</key>
                <string>{86,106}</string>
            </dict>
            <key>CZ08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,217},{82,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{82,84}}</string>
                <key>sourceSize</key>
                <string>{86,106}</string>
            </dict>
            <key>CZ09.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,219},{58,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,24},{58,60}}</string>
                <key>sourceSize</key>
                <string>{86,106}</string>
            </dict>
            <key>CZ10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,0},{56,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,29},{56,50}}</string>
                <key>sourceSize</key>
                <string>{86,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>RebuildEq.pvr.ccz</string>
        </dict>
    </dict>
</plist>
