<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FZ1.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,175},{105,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,81}}</string>
                <key>sourceSize</key>
                <string>{105,81}</string>
            </dict>
            <key>FZ2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,175},{123,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,98}}</string>
                <key>sourceSize</key>
                <string>{123,100}</string>
            </dict>
            <key>FZ3.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,400},{150,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,85}}</string>
                <key>sourceSize</key>
                <string>{150,85}</string>
            </dict>
            <key>FZ4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,175},{126,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,75}}</string>
                <key>sourceSize</key>
                <string>{126,75}</string>
            </dict>
            <key>FZ5.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,175},{105,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,88}}</string>
                <key>sourceSize</key>
                <string>{105,90}</string>
            </dict>
            <key>XSZY_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,318},{81,92}}</string>
                <key>offset</key>
                <string>{-142,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,40},{81,92}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,175},{81,94}}</string>
                <key>offset</key>
                <string>{-142,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,39},{81,94}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,175},{115,114}}</string>
                <key>offset</key>
                <string>{-126,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,36},{115,114}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,175},{153,130}}</string>
                <key>offset</key>
                <string>{-109,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,37},{153,130}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,318},{189,150}}</string>
                <key>offset</key>
                <string>{-90,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,35},{189,150}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,159},{227,158}}</string>
                <key>offset</key>
                <string>{-72,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{227,158}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,0},{263,158}}</string>
                <key>offset</key>
                <string>{-55,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{263,158}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,694},{293,150}}</string>
                <key>offset</key>
                <string>{-39,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,34},{293,150}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,694},{321,148}}</string>
                <key>offset</key>
                <string>{-27,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,32},{321,148}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,442},{343,148}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{343,148}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,291},{359,150}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{359,150}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,318},{375,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{375,174}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,318},{375,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{375,174}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,318},{375,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{375,174}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,318},{375,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{375,174}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{375,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{375,174}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{375,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{375,174}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{375,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{375,174}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
            <key>XSZY_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,469},{335,172}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,8},{335,172}}</string>
                <key>sourceSize</key>
                <string>{383,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>xszy_jt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
