<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>g3_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1},{513,438}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{513,438}}</string>
                <key>sourceSize</key>
                <string>{513,440}</string>
            </dict>
            <key>g3_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,1},{423,420}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,20},{423,420}}</string>
                <key>sourceSize</key>
                <string>{513,440}</string>
            </dict>
            <key>g3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1},{229,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,355}}</string>
                <key>sourceSize</key>
                <string>{229,355}</string>
            </dict>
            <key>g3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,440},{204,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,46}}</string>
                <key>sourceSize</key>
                <string>{204,46}</string>
            </dict>
            <key>g3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,1},{244,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{244,50}}</string>
                <key>sourceSize</key>
                <string>{248,54}</string>
            </dict>
            <key>g3_06_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,440},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>g3_06_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,246},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>g3_07_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,422},{88,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,97}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>g3_07_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,422},{88,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,97}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>g3_08_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,422},{88,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,97}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>g3_08_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,422},{88,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,97}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>g3_09_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,440},{175,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{175,59}}</string>
                <key>sourceSize</key>
                <string>{217,85}</string>
            </dict>
            <key>g3_09_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,357},{199,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{199,83}}</string>
                <key>sourceSize</key>
                <string>{217,85}</string>
            </dict>
            <key>g3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2021,1},{128,26}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,10},{128,26}}</string>
                <key>sourceSize</key>
                <string>{204,46}</string>
            </dict>
            <key>g3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,482},{106,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,29}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>createCharacter_new.pvr.ccz</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78bff5c74f86a278f9d7700225f47dbe:1/1$</string>
            <key>textureFileName</key>
            <string>createCharacter_new.pvr.ccz</string>
        </dict>
    </dict>
</plist>
