<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WJXQ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,186},{92,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,216}}</string>
                <key>sourceSize</key>
                <string>{94,216}</string>
            </dict>
            <key>WJXQ_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,93},{92,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,216}}</string>
                <key>sourceSize</key>
                <string>{94,216}</string>
            </dict>
            <key>WJXQ_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,552},{90,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,216}}</string>
                <key>sourceSize</key>
                <string>{94,216}</string>
            </dict>
            <key>WJXQ_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,461},{90,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,216}}</string>
                <key>sourceSize</key>
                <string>{94,216}</string>
            </dict>
            <key>WJXQ_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,643},{88,216}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{88,216}}</string>
                <key>sourceSize</key>
                <string>{94,216}</string>
            </dict>
            <key>WJXQ_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,370},{90,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,216}}</string>
                <key>sourceSize</key>
                <string>{94,216}</string>
            </dict>
            <key>WJXQ_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,279},{90,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,216}}</string>
                <key>sourceSize</key>
                <string>{94,216}</string>
            </dict>
            <key>WJXQ_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,0},{92,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,216}}</string>
                <key>sourceSize</key>
                <string>{94,216}</string>
            </dict>
            <key>c211_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,791},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{48,48}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>c211_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,732},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>g_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,481},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>g_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>gm_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,791},{87,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{87,22}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>gm_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,965},{85,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{85,22}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>gm_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,962},{75,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{75,22}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>gm_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,962},{83,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{83,22}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>gm_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,879},{85,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,32}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>gm_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1038},{85,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{85,18}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>gm_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1038},{85,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{85,18}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>gm_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,928},{75,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{75,32}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>gm_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,840},{87,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,32}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>gtxd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1176},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>gtxd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1176},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>gtxd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1176},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>gtxd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1041},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>gtxd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1041},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>gtxd_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1041},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>gtxd_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1041},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>gtxd_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1041},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>gtxd_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1048},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>gtxx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,969},{78,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,149}}</string>
                <key>sourceSize</key>
                <string>{78,149}</string>
            </dict>
            <key>gtxx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,962},{78,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,149}}</string>
                <key>sourceSize</key>
                <string>{78,149}</string>
            </dict>
            <key>gtxx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,962},{78,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,149}}</string>
                <key>sourceSize</key>
                <string>{78,149}</string>
            </dict>
            <key>gtxx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,962},{78,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,149}}</string>
                <key>sourceSize</key>
                <string>{78,149}</string>
            </dict>
            <key>gtxx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,962},{78,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,149}}</string>
                <key>sourceSize</key>
                <string>{78,149}</string>
            </dict>
            <key>gtxx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,962},{78,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,149}}</string>
                <key>sourceSize</key>
                <string>{78,149}</string>
            </dict>
            <key>gtxx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,890},{78,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,149}}</string>
                <key>sourceSize</key>
                <string>{78,149}</string>
            </dict>
            <key>gtxx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,811},{78,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,149}}</string>
                <key>sourceSize</key>
                <string>{78,149}</string>
            </dict>
            <key>gtxx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,732},{78,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,149}}</string>
                <key>sourceSize</key>
                <string>{78,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>createCharacter.pvr.ccz</string>
        </dict>
    </dict>
</plist>
