<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QT_SL_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,390},{33,49}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,61},{33,49}}</string>
                <key>sourceSize</key>
                <string>{69,117}</string>
            </dict>
            <key>QT_SL_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,302},{55,87}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{55,87}}</string>
                <key>sourceSize</key>
                <string>{69,117}</string>
            </dict>
            <key>QT_SL_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{63,107}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{63,107}}</string>
                <key>sourceSize</key>
                <string>{69,117}</string>
            </dict>
            <key>QT_SL_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{63,107}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{63,107}}</string>
                <key>sourceSize</key>
                <string>{69,117}</string>
            </dict>
            <key>QT_SL_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{63,109}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{63,109}}</string>
                <key>sourceSize</key>
                <string>{69,117}</string>
            </dict>
            <key>QT_SL_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{63,109}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{63,109}}</string>
                <key>sourceSize</key>
                <string>{69,117}</string>
            </dict>
            <key>QT_SL_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{63,111}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{63,111}}</string>
                <key>sourceSize</key>
                <string>{69,117}</string>
            </dict>
            <key>QT_SL_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{63,109}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{63,109}}</string>
                <key>sourceSize</key>
                <string>{69,117}</string>
            </dict>
            <key>QT_SL_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,108},{63,99}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{63,99}}</string>
                <key>sourceSize</key>
                <string>{69,117}</string>
            </dict>
            <key>QT_SL_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,208},{57,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{57,93}}</string>
                <key>sourceSize</key>
                <string>{69,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{128,512}</string>
            <key>textureFileName</key>
            <string>harvest.pvr.ccz</string>
        </dict>
    </dict>
</plist>
