<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slt_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,505},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>slt_bb_sw.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,448},{57,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,34}}</string>
                <key>sourceSize</key>
                <string>{57,34}</string>
            </dict>
            <key>slt_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,366},{52,69}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{52,69}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>slt_boss_sw.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,418},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>slt_hero1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,648},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>slt_hero2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,463},{40,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>slt_hero2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,557},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>slt_hero2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,518},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>slt_hero2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,238},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>slt_sw_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,337},{74,98}}</string>
                <key>offset</key>
                <string>{-2,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,192},{74,98}}</string>
                <key>sourceSize</key>
                <string>{134,308}</string>
            </dict>
            <key>slt_sw_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,574},{106,106}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,192},{106,106}}</string>
                <key>sourceSize</key>
                <string>{134,308}</string>
            </dict>
            <key>slt_sw_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,573},{106,106}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,192},{106,106}}</string>
                <key>sourceSize</key>
                <string>{134,308}</string>
            </dict>
            <key>slt_sw_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{102,88}}</string>
                <key>offset</key>
                <string>{-2,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,202},{102,88}}</string>
                <key>sourceSize</key>
                <string>{134,308}</string>
            </dict>
            <key>slt_sw_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,472},{114,102}}</string>
                <key>offset</key>
                <string>{-2,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,195},{114,102}}</string>
                <key>sourceSize</key>
                <string>{134,308}</string>
            </dict>
            <key>slt_sw_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,454},{114,140}}</string>
                <key>offset</key>
                <string>{-2,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,162},{114,140}}</string>
                <key>sourceSize</key>
                <string>{134,308}</string>
            </dict>
            <key>slt_sw_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{114,170}}</string>
                <key>offset</key>
                <string>{-2,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,132},{114,170}}</string>
                <key>sourceSize</key>
                <string>{134,308}</string>
            </dict>
            <key>slt_sw_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,106},{114,198}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,103},{114,198}}</string>
                <key>sourceSize</key>
                <string>{134,308}</string>
            </dict>
            <key>slt_sw_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{112,218}}</string>
                <key>offset</key>
                <string>{-2,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,82},{112,218}}</string>
                <key>sourceSize</key>
                <string>{134,308}</string>
            </dict>
            <key>slt_sw_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{106,228}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,71},{106,228}}</string>
                <key>sourceSize</key>
                <string>{134,308}</string>
            </dict>
            <key>slt_sw_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,236}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,59},{92,236}}</string>
                <key>sourceSize</key>
                <string>{134,308}</string>
            </dict>
            <key>slt_sw_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{48,180}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,47},{48,180}}</string>
                <key>sourceSize</key>
                <string>{134,308}</string>
            </dict>
            <key>slt_sw_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{46,190}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,36},{46,190}}</string>
                <key>sourceSize</key>
                <string>{134,308}</string>
            </dict>
            <key>slt_sw_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,220},{44,194}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,28},{44,194}}</string>
                <key>sourceSize</key>
                <string>{134,308}</string>
            </dict>
            <key>slt_sw_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{34,160}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,38},{34,160}}</string>
                <key>sourceSize</key>
                <string>{134,308}</string>
            </dict>
            <key>slt_ts_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,448},{24,137}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,4},{24,137}}</string>
                <key>sourceSize</key>
                <string>{94,163}</string>
            </dict>
            <key>slt_ts_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,320},{38,143}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{38,143}}</string>
                <key>sourceSize</key>
                <string>{94,163}</string>
            </dict>
            <key>slt_ts_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,398},{56,149}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{56,149}}</string>
                <key>sourceSize</key>
                <string>{94,163}</string>
            </dict>
            <key>slt_ts_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,180},{74,157}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{74,157}}</string>
                <key>sourceSize</key>
                <string>{94,163}</string>
            </dict>
            <key>slt_ts_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,264},{92,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,163}}</string>
                <key>sourceSize</key>
                <string>{94,163}</string>
            </dict>
            <key>slt_ts_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,356},{92,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,161}}</string>
                <key>sourceSize</key>
                <string>{94,163}</string>
            </dict>
            <key>slt_ts_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,165},{16,73}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,4},{16,73}}</string>
                <key>sourceSize</key>
                <string>{94,163}</string>
            </dict>
            <key>slt_ts_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,92},{18,73}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,5},{18,73}}</string>
                <key>sourceSize</key>
                <string>{94,163}</string>
            </dict>
            <key>slt_zd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,536},{53,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{53,60}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>slt_zd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,589},{45,52}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{45,52}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>slt_zd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,599},{49,60}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{49,60}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>slt_zd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,435},{73,58}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{73,58}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>slt_zd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,493},{51,64}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{51,64}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>slt_zd_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,264},{39,56}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,12},{39,56}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>slt_zd_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,489},{47,64}}</string>
                <key>offset</key>
                <string>{20,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,6},{47,64}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>slt_zd_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,293},{73,60}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{73,60}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>TowerPicture.pvr.ccz</string>
        </dict>
    </dict>
</plist>
