<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX023_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,156},{40,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{40,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>TX023_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,42},{56,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>TX023_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,42},{56,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>TX023_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,42},{56,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>TX023_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1},{56,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>TX023_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{56,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>TX023_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,83},{56,38}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,38}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>TX023_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,120},{56,36}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{56,36}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>TX023_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,83},{56,36}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{56,36}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>TX023_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,139},{44,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{44,16}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>TX023_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,122},{44,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{44,16}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{128,256}</string>
            <key>textureFileName</key>
            <string>TX023.pvr.ccz</string>
        </dict>
    </dict>
</plist>
