<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX181_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,227},{48,70}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,5},{48,70}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,66},{76,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{76,64}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,66},{76,64}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{76,64}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1},{76,64}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{76,64}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,131},{74,70}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{74,70}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,66},{74,70}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{74,70}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,66},{74,70}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{74,70}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,276},{52,66}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{52,66}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,276},{52,66}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{52,66}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,276},{52,66}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{52,66}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,276},{52,66}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{52,66}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,336},{54,60}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{54,60}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,336},{54,60}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{54,60}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,336},{54,60}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{54,60}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,137},{50,72}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{50,72}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,137},{50,72}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{50,72}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,267},{68,68}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{68,68}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,267},{68,68}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{68,68}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,267},{68,68}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{68,68}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,302},{64,66}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,11},{64,66}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,302},{64,66}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,11},{64,66}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,302},{64,66}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,11},{64,66}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,302},{64,66}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,11},{64,66}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,329},{50,64}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,11},{50,64}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,329},{50,64}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,11},{50,64}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,329},{50,64}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,11},{50,64}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,188},{38,72}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,4},{38,72}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,188},{38,72}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,4},{38,72}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,188},{38,72}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,4},{38,72}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,202},{50,70}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,5},{50,70}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{48,70}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,5},{48,70}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1},{76,64}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{76,64}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,66},{76,64}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{76,64}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{76,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{76,64}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,131},{72,68}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{72,68}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>TX181_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,200},{70,66}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{70,66}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TX181.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b707888615cf19c1b0dc0cc9ac25d22$</string>
            <key>textureFileName</key>
            <string>TX181.pvr.ccz</string>
        </dict>
    </dict>
</plist>
