<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a125.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{641,81}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{641,81}}</string>
                <key>sourceSize</key>
                <string>{653,85}</string>
            </dict>
            <key>a90.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{269,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,368}}</string>
                <key>sourceSize</key>
                <string>{269,368}</string>
            </dict>
            <key>a91.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,0},{213,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,26}}</string>
                <key>sourceSize</key>
                <string>{213,26}</string>
            </dict>
            <key>a92.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,0},{92,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,113}}</string>
                <key>sourceSize</key>
                <string>{92,113}</string>
            </dict>
            <key>a98.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,93},{299,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,91}}</string>
                <key>sourceSize</key>
                <string>{299,91}</string>
            </dict>
            <key>b06.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,93},{152,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,16}}</string>
                <key>sourceSize</key>
                <string>{152,16}</string>
            </dict>
            <key>b07.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,974},{148,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{148,12}}</string>
                <key>sourceSize</key>
                <string>{152,16}</string>
            </dict>
            <key>b08.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,246},{148,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{148,12}}</string>
                <key>sourceSize</key>
                <string>{152,16}</string>
            </dict>
            <key>d304.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,338},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>d305.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,307},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>d306.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,276},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>d307.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,245},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>d308.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,214},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>d344_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,369},{71,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,31}}</string>
                <key>sourceSize</key>
                <string>{71,31}</string>
            </dict>
            <key>d344_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,972},{45,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{45,25}}</string>
                <key>sourceSize</key>
                <string>{71,31}</string>
            </dict>
            <key>d344_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,912},{59,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{59,25}}</string>
                <key>sourceSize</key>
                <string>{71,31}</string>
            </dict>
            <key>d375.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,943},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>d376.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,912},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>BattleUI.pvr.ccz</string>
        </dict>
    </dict>
</plist>
