<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QT003_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{254,282}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,282}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT003_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,448},{98,98}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,92},{98,98}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT003_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,592},{118,126}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,77},{118,126}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT003_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,592},{156,164}}</string>
                <key>offset</key>
                <string>{-23,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,57},{156,164}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT003_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{182,180}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{182,180}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT003_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,406},{190,186}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{190,186}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT003_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{196,194}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,35},{196,194}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT003_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,206},{204,200}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{204,200}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT003_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{208,206}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{208,206}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT003_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,350},{86,96}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,91},{86,96}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT003_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,254},{86,96}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,91},{86,96}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>QT003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
