<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QT005_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{188,278}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{188,278}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT005_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,442},{60,88}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,98},{60,88}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT005_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,238},{78,116}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{78,116}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT005_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{100,152}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,66},{100,152}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT005_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,278},{90,122}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,81},{90,122}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT005_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,120},{88,118}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,83},{88,118}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT005_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{90,120}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,82},{90,120}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT005_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,400},{90,120}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,82},{90,120}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT005_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{82,112}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,86},{82,112}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT005_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,354},{60,88}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,98},{60,88}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>QT005.pvr.ccz</string>
        </dict>
    </dict>
</plist>
