<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QT008_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{232,270}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{232,270}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT008_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,74},{74,86}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,98},{74,86}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT008_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{96,112}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,86},{96,112}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT008_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{124,146}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,68},{124,146}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT008_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,270},{104,118}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,82},{104,118}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT008_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,386},{102,116}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,83},{102,116}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT008_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,270},{102,116}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,83},{102,116}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT008_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,388},{102,116}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,83},{102,116}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT008_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,416},{96,110}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,86},{96,110}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT008_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,0},{74,86}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,98},{74,86}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>QT008.pvr.ccz</string>
        </dict>
    </dict>
</plist>
