<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QT004_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,278}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{222,278}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT004_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,430},{70,88}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,98},{70,88}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT004_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,98},{92,116}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,84},{92,116}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT004_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{120,152}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,66},{120,152}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT004_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,278},{100,122}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,81},{100,122}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT004_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{98,118}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,83},{98,118}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT004_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,398},{98,120}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,82},{98,120}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT004_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,278},{98,120}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,82},{98,120}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT004_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,400},{92,112}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,86},{92,112}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
            <key>QT004_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{70,88}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,98},{70,88}}</string>
                <key>sourceSize</key>
                <string>{272,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>QT004.pvr.ccz</string>
        </dict>
    </dict>
</plist>
