<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_nqnz_down_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,0},{80,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{80,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>npc_nqnz_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,223},{76,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{76,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>npc_nqnz_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,150},{76,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{76,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>npc_nqnz_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,300},{76,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{76,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>npc_nqnz_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,73},{78,76}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{78,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>npc_nqnz_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,75},{78,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{78,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>npc_nqnz_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,150},{78,72}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{78,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>npc_nqnz_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,75},{78,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{78,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>npc_nqnz_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,371},{74,74}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>npc_nqnz_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{76,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{76,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>npc_nqnz_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,74}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{80,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>npc_nqnz_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,298},{76,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{76,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>npc_nqnz_up_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{80,72}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{80,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>npc_nqnz_up_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,225},{76,74}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{76,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>npc_nqnz_up_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,225},{74,76}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{74,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>npc_nqnz_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{78,74}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{78,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>npc_nqnz.pvr.ccz</string>
        </dict>
    </dict>
</plist>
