<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_lfr_down_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,175},{64,56}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{64,56}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>npc_lfr_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,177},{64,56}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{64,56}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>npc_lfr_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,173},{64,56}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{64,56}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>npc_lfr_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,118},{64,56}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{64,56}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>npc_lfr_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,291},{60,60}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{60,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>npc_lfr_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,232},{60,60}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{60,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>npc_lfr_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{60,62}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,21},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>npc_lfr_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,230},{62,60}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{62,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>npc_lfr_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{78,58}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{78,58}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>npc_lfr_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,59},{74,58}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{74,58}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>npc_lfr_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{74,56}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{74,56}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>npc_lfr_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,116},{74,56}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{74,56}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>npc_lfr_up_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,59},{76,60}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{76,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>npc_lfr_up_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,57},{78,58}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{78,58}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>npc_lfr_up_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,0},{80,56}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{80,56}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>npc_lfr_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,58}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{80,58}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>npc_lfr.pvr.ccz</string>
        </dict>
    </dict>
</plist>
