<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_smsr_down_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{85,77}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{85,77}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>npc_smsr_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,78},{83,77}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{83,77}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>npc_smsr_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{83,77}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{83,77}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>npc_smsr_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,228},{81,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{81,77}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>npc_smsr_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{81,77}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{81,77}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>npc_smsr_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{85,75}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{85,75}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>npc_smsr_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,76},{85,75}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{85,75}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>npc_smsr_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{85,75}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{85,75}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>npc_smsr_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,306},{79,79}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{79,79}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>npc_smsr_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{77,77}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>npc_smsr_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,156},{81,77}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{81,77}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>npc_smsr_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,234},{79,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{79,79}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>npc_smsr_up_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,152},{83,75}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{83,75}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>npc_smsr_up_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{79,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{79,75}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>npc_smsr_up_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{81,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{81,75}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>npc_smsr_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,314},{77,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{77,75}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>npc_smsr.pvr.ccz</string>
        </dict>
    </dict>
</plist>
