<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_sb_down_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{134,82}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{134,82}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>npc_sb_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{134,80}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{134,80}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>npc_sb_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,81},{134,78}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{134,78}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>npc_sb_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{134,80}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{134,80}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>npc_sb_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,235},{88,82}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,52},{88,82}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>npc_sb_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,265},{84,82}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,53},{84,82}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>npc_sb_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{82,82}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,53},{82,82}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>npc_sb_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,237},{84,82}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,53},{84,82}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>npc_sb_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,0},{106,102}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,53},{106,102}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>npc_sb_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{102,102}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,53},{102,102}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>npc_sb_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,208},{102,102}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,53},{102,102}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>npc_sb_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,103},{104,104}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,52},{104,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>npc_sb_up_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,83},{130,78}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,81},{130,78}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>npc_sb_up_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,160},{126,76}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,81},{126,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>npc_sb_up_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,81},{128,76}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,81},{128,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>npc_sb_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,158},{126,76}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,81},{126,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>npc_sb.pvr.ccz</string>
        </dict>
    </dict>
</plist>
