<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_qg_down_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{72,66}}</string>
                <key>offset</key>
                <string>{-20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{72,66}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>npc_qg_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,321},{68,70}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,33},{68,70}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>npc_qg_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,258},{62,72}}</string>
                <key>offset</key>
                <string>{-17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,31},{62,72}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>npc_qg_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,197},{72,70}}</string>
                <key>offset</key>
                <string>{-20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{72,70}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>npc_qg_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,258},{72,66}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,27},{72,66}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>npc_qg_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,124},{76,68}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{76,68}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>npc_qg_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,63},{78,70}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{78,70}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>npc_qg_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,61},{80,66}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{80,66}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>npc_qg_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,128},{76,66}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,40},{76,66}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>npc_qg_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,195},{74,62}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,41},{74,62}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>npc_qg_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{76,62}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,39},{76,62}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>npc_qg_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,193},{74,64}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,41},{74,64}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>npc_qg_up_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{82,62}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,34},{82,62}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>npc_qg_up_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,0},{84,60}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,34},{84,60}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>npc_qg_up_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,62}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,33},{84,62}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>npc_qg_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,63},{78,60}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,34},{78,60}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>npc_qg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
