<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_nwg_down_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,223},{74,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>npc_nwg_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,75},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>npc_nwg_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,223},{74,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>npc_nwg_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,75},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>npc_nwg_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,150},{74,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>npc_nwg_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,0},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>npc_nwg_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{74,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>npc_nwg_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>npc_nwg_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,150},{74,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>npc_nwg_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>npc_nwg_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,296},{72,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>npc_nwg_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{72,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>npc_nwg_up_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,223},{74,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>npc_nwg_up_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,371},{72,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>npc_nwg_up_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,296},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>npc_nwg_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,75},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>npc_nwg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
