<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_dcz_down_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,83},{88,80}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{88,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>npc_dcz_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,83},{88,80}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{88,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>npc_dcz_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,81},{90,80}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{90,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>npc_dcz_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{90,80}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{90,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>npc_dcz_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,0},{94,80}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{94,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>npc_dcz_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{94,82}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{94,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>npc_dcz_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,0},{94,82}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{94,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>npc_dcz_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,82}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{94,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>npc_dcz_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,83},{88,80}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{88,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>npc_dcz_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,164},{82,80}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{82,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>npc_dcz_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,243},{80,80}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{80,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>npc_dcz_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,164},{82,82}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{82,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>npc_dcz_up_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{84,84}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{84,84}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>npc_dcz_up_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,164},{88,80}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{88,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>npc_dcz_up_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,162},{88,80}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{88,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>npc_dcz_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,81},{88,82}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{88,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>npc_dcz.pvr.ccz</string>
        </dict>
    </dict>
</plist>
