<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_nh_down_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{73,63}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{73,63}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>npc_nh_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,64},{69,65}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{69,65}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>npc_nh_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,66},{69,63}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{69,63}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>npc_nh_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{71,65}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{71,65}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>npc_nh_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{69,61}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{69,61}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>npc_nh_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,128},{69,61}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{69,61}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>npc_nh_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,64},{69,63}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{69,63}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>npc_nh_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{69,63}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{69,63}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>npc_nh_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,130},{65,67}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{65,67}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>npc_nh_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{63,65}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{63,65}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>npc_nh_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,254},{65,65}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{65,65}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>npc_nh_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,258},{63,65}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{63,65}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>npc_nh_up_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,190},{67,63}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{67,63}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>npc_nh_up_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{67,63}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{67,63}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>npc_nh_up_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{67,61}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{67,61}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>npc_nh_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,196},{67,61}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{67,61}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>npc_nh.pvr.ccz</string>
        </dict>
    </dict>
</plist>
