<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QT132_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1984},{44,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,143},{44,54}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT132_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{130,166}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,87},{130,166}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT132_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,834},{228,278}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,28},{228,278}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT132_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1814},{232,288}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,23},{232,288}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT132_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,304},{238,298}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{238,298}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT132_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1676},{244,306}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,17},{244,306}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT132_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1028},{248,310}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{248,310}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT132_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1364},{250,310}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{250,310}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT132_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,202},{234,292}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,27},{234,292}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT132_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1798},{238,244}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,52},{238,244}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT132_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1262},{228,228}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,55},{228,228}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT133_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1984},{48,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,140},{48,60}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT133_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,390},{158,202}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,64},{158,202}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT133_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1694},{274,318}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{274,318}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT133_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{282,328}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{282,328}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT133_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{292,334}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{292,334}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT133_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{300,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,340}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT133_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{300,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,340}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT133_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,340}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT133_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1694},{254,316}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{254,316}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT133_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,606},{240,298}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,16},{240,298}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT133_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,990},{228,270}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,29},{228,270}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT138_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1926},{90,74}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,70},{90,74}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT138_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,908},{202,110}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,45},{202,110}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT138_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1512},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT138_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,1210},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT138_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,908},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT138_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,606},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT138_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,304},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT138_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT138_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1624},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT138_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1322},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT138_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,906},{298,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{298,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT138_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1502},{294,200}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{294,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT138_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,438},{290,198}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{290,198}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT138_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,638},{282,194}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{282,194}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT138_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,202},{288,190}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{288,190}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT139_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1984},{86,60}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,77},{86,60}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT139_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,908},{200,110}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,45},{200,110}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT139_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1020},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT139_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,606},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT139_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,304},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT139_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1206},{294,200}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{294,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT139_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT139_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,606},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT139_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,304},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT139_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT139_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1340},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT139_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,2},{300,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{300,198}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT139_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{300,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{300,198}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT139_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,304},{300,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{300,194}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT139_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{300,190}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{300,190}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT140_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2014},{64,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,90},{64,20}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT140_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1926},{150,110}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,45},{150,110}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT140_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,550},{236,200}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{236,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT140_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1064},{224,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{224,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT140_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1064},{224,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{224,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT140_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1064},{224,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{224,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT140_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1064},{224,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{224,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT140_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1064},{224,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{224,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT140_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1064},{224,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{224,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT140_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1064},{224,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{224,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT140_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,788},{224,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{224,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT140_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1266},{220,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT140_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1262},{220,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT140_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1064},{218,196}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,2},{218,196}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>QT140_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,202},{214,186}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,7},{214,186}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>childAwake1.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:374daffcc5b3dbfcb729b73e27358068:1/1$</string>
            <key>textureFileName</key>
            <string>childAwake1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
