<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QT130_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,248},{348,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{348,80}}</string>
                <key>sourceSize</key>
                <string>{360,80}</string>
            </dict>
            <key>QT130_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,248},{348,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{348,80}}</string>
                <key>sourceSize</key>
                <string>{360,80}</string>
            </dict>
            <key>QT130_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,248},{348,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{348,80}}</string>
                <key>sourceSize</key>
                <string>{360,80}</string>
            </dict>
            <key>QT130_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,166},{350,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{350,80}}</string>
                <key>sourceSize</key>
                <string>{360,80}</string>
            </dict>
            <key>QT130_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,166},{360,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,80}}</string>
                <key>sourceSize</key>
                <string>{360,80}</string>
            </dict>
            <key>QT130_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,84},{360,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,80}}</string>
                <key>sourceSize</key>
                <string>{360,80}</string>
            </dict>
            <key>QT130_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,84},{360,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,80}}</string>
                <key>sourceSize</key>
                <string>{360,80}</string>
            </dict>
            <key>QT130_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,84},{360,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,80}}</string>
                <key>sourceSize</key>
                <string>{360,80}</string>
            </dict>
            <key>QT130_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,2},{360,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,80}}</string>
                <key>sourceSize</key>
                <string>{360,80}</string>
            </dict>
            <key>QT130_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{360,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,80}}</string>
                <key>sourceSize</key>
                <string>{360,80}</string>
            </dict>
            <key>QT130_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{360,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,80}}</string>
                <key>sourceSize</key>
                <string>{360,80}</string>
            </dict>
            <key>QT130_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,166},{348,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{348,80}}</string>
                <key>sourceSize</key>
                <string>{360,80}</string>
            </dict>
            <key>QT130_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1980},{250,34}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,22},{250,34}}</string>
                <key>sourceSize</key>
                <string>{360,80}</string>
            </dict>
            <key>QT131_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1148},{132,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{132,175}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1134},{132,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{132,175}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1128},{132,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{132,175}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1016},{132,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{132,175}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1000},{132,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{132,175}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,994},{132,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{132,175}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,866},{132,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{132,175}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1014},{132,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{132,175}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,852},{138,185}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{138,185}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,1175},{146,185}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{146,185}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1086},{152,185}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{152,185}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,1010},{154,193}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{154,193}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,854},{158,197}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{158,197}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1090},{164,197}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{164,197}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,854},{154,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{154,195}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1150},{126,169}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,33},{126,169}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,864},{128,179}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{128,179}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1256},{134,169}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{134,169}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,690},{136,103}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,32},{136,103}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT131_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2016},{22,19}}</string>
                <key>offset</key>
                <string>{13,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,71},{22,19}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>QT134_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1980},{48,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,170},{48,60}}</string>
                <key>sourceSize</key>
                <string>{340,400}</string>
            </dict>
            <key>QT134_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,890},{198,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,88},{198,224}}</string>
                <key>sourceSize</key>
                <string>{340,400}</string>
            </dict>
            <key>QT134_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{340,398}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{340,398}}</string>
                <key>sourceSize</key>
                <string>{340,400}</string>
            </dict>
            <key>QT134_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,398}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{340,398}}</string>
                <key>sourceSize</key>
                <string>{340,400}</string>
            </dict>
            <key>QT134_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{340,396}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{340,396}}</string>
                <key>sourceSize</key>
                <string>{340,400}</string>
            </dict>
            <key>QT134_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{340,394}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{340,394}}</string>
                <key>sourceSize</key>
                <string>{340,400}</string>
            </dict>
            <key>QT134_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1596},{340,382}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{340,382}}</string>
                <key>sourceSize</key>
                <string>{340,400}</string>
            </dict>
            <key>QT134_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{334,362}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{334,362}}</string>
                <key>sourceSize</key>
                <string>{340,400}</string>
            </dict>
            <key>QT134_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,330},{280,346}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,27},{280,346}}</string>
                <key>sourceSize</key>
                <string>{340,400}</string>
            </dict>
            <key>QT134_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,614},{250,252}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,82},{250,252}}</string>
                <key>sourceSize</key>
                <string>{340,400}</string>
            </dict>
            <key>QT134_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,852},{240,232}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,81},{240,232}}</string>
                <key>sourceSize</key>
                <string>{340,400}</string>
            </dict>
            <key>QT135_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1278},{150,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{150,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>QT135_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1268},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{150,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>QT135_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1262},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{150,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>QT135_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1420},{148,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{148,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>QT135_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,864},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{150,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>QT135_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1414},{150,148}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{150,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>QT135_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1039},{134,136}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{134,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>QT135_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,612},{76,104}}</string>
                <key>offset</key>
                <string>{-22,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{76,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>QT137_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1980},{48,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,140},{48,60}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT137_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1256},{144,184}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,78},{144,184}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT137_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,602},{248,308}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,13},{248,308}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT137_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,568},{256,320}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{256,320}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT137_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,236},{264,330}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{264,330}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT137_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,330},{270,340}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{270,340}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT137_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,330},{274,340}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{274,340}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT137_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,338},{274,340}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{274,340}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT137_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,606},{246,300}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{246,300}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT137_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,612},{250,252}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,52},{250,252}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
            <key>QT137_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,2},{240,232}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,51},{240,232}}</string>
                <key>sourceSize</key>
                <string>{300,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>childAwake2.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c091658777f1875cef5dcfbfe55d7cf9:1/1$</string>
            <key>textureFileName</key>
            <string>childAwake2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
