<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b03.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,41},{355,21}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,14},{355,21}}</string>
                <key>sourceSize</key>
                <string>{421,67}</string>
            </dict>
            <key>b04.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,187},{343,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,11}}</string>
                <key>sourceSize</key>
                <string>{343,11}</string>
            </dict>
            <key>b04_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,175},{343,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,11}}</string>
                <key>sourceSize</key>
                <string>{343,11}</string>
            </dict>
            <key>b09.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,113},{453,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,24}}</string>
                <key>sourceSize</key>
                <string>{453,24}</string>
            </dict>
            <key>b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,88},{453,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,24}}</string>
                <key>sourceSize</key>
                <string>{453,24}</string>
            </dict>
            <key>b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,288},{188,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,22}}</string>
                <key>sourceSize</key>
                <string>{188,22}</string>
            </dict>
            <key>b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,302},{176,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{176,10}}</string>
                <key>sourceSize</key>
                <string>{188,22}</string>
            </dict>
            <key>b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,163},{343,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,11}}</string>
                <key>sourceSize</key>
                <string>{343,11}</string>
            </dict>
            <key>b14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,75},{638,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{638,11}}</string>
                <key>sourceSize</key>
                <string>{648,21}</string>
            </dict>
            <key>b15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,32},{648,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,21}}</string>
                <key>sourceSize</key>
                <string>{648,21}</string>
            </dict>
            <key>b16.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,254},{247,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,30}}</string>
                <key>sourceSize</key>
                <string>{247,30}</string>
            </dict>
            <key>b17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,265},{239,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{239,22}}</string>
                <key>sourceSize</key>
                <string>{247,30}</string>
            </dict>
            <key>b18.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,257},{239,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{239,22}}</string>
                <key>sourceSize</key>
                <string>{247,30}</string>
            </dict>
            <key>b19.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,275},{239,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{239,22}}</string>
                <key>sourceSize</key>
                <string>{247,30}</string>
            </dict>
            <key>b20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{700,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,30}}</string>
                <key>sourceSize</key>
                <string>{700,30}</string>
            </dict>
            <key>b21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,54},{638,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{638,20}}</string>
                <key>sourceSize</key>
                <string>{700,30}</string>
            </dict>
            <key>b22.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1},{305,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,39}}</string>
                <key>sourceSize</key>
                <string>{305,39}</string>
            </dict>
            <key>b23.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,199},{297,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{297,31}}</string>
                <key>sourceSize</key>
                <string>{305,39}</string>
            </dict>
            <key>b24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,109},{546,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,72}}</string>
                <key>sourceSize</key>
                <string>{546,72}</string>
            </dict>
            <key>b25.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,138},{380,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,24}}</string>
                <key>sourceSize</key>
                <string>{380,24}</string>
            </dict>
            <key>b26.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,63},{380,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,24}}</string>
                <key>sourceSize</key>
                <string>{380,24}</string>
            </dict>
            <key>b27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,87},{547,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,21}}</string>
                <key>sourceSize</key>
                <string>{547,21}</string>
            </dict>
            <key>b28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,182},{537,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,11}}</string>
                <key>sourceSize</key>
                <string>{537,11}</string>
            </dict>
            <key>b29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,221},{265,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{265,26}}</string>
                <key>sourceSize</key>
                <string>{267,26}</string>
            </dict>
            <key>b30.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,215},{215,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,20}}</string>
                <key>sourceSize</key>
                <string>{215,20}</string>
            </dict>
            <key>b31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,194},{304,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{304,26}}</string>
                <key>sourceSize</key>
                <string>{306,26}</string>
            </dict>
            <key>b31_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,194},{215,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,20}}</string>
                <key>sourceSize</key>
                <string>{215,20}</string>
            </dict>
            <key>b32.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,236},{254,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,20}}</string>
                <key>sourceSize</key>
                <string>{254,20}</string>
            </dict>
            <key>b35.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,243},{204,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,31}}</string>
                <key>sourceSize</key>
                <string>{204,31}</string>
            </dict>
            <key>b36.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,219},{196,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,23}}</string>
                <key>sourceSize</key>
                <string>{196,23}</string>
            </dict>
            <key>b37.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,298},{146,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,33}}</string>
                <key>sourceSize</key>
                <string>{146,33}</string>
            </dict>
            <key>b38.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,193},{138,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,25}}</string>
                <key>sourceSize</key>
                <string>{138,25}</string>
            </dict>
            <key>b39.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,280},{190,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,18}}</string>
                <key>sourceSize</key>
                <string>{190,18}</string>
            </dict>
            <key>b40.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,285},{188,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,16}}</string>
                <key>sourceSize</key>
                <string>{188,16}</string>
            </dict>
            <key>b41.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,313},{137,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,26}}</string>
                <key>sourceSize</key>
                <string>{137,26}</string>
            </dict>
            <key>b41_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,392},{133,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{133,22}}</string>
                <key>sourceSize</key>
                <string>{137,26}</string>
            </dict>
            <key>b41_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,369},{133,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{133,22}}</string>
                <key>sourceSize</key>
                <string>{137,26}</string>
            </dict>
            <key>b41_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,346},{133,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{133,22}}</string>
                <key>sourceSize</key>
                <string>{137,26}</string>
            </dict>
            <key>b41_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,315},{133,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{133,22}}</string>
                <key>sourceSize</key>
                <string>{137,26}</string>
            </dict>
            <key>b41_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,323},{133,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{133,22}}</string>
                <key>sourceSize</key>
                <string>{137,26}</string>
            </dict>
            <key>b41_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,317},{133,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{133,22}}</string>
                <key>sourceSize</key>
                <string>{137,26}</string>
            </dict>
            <key>b42_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,231},{266,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,22}}</string>
                <key>sourceSize</key>
                <string>{266,22}</string>
            </dict>
            <key>b42_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,248},{262,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{262,16}}</string>
                <key>sourceSize</key>
                <string>{266,22}</string>
            </dict>
            <key>b43_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,299},{186,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,17}}</string>
                <key>sourceSize</key>
                <string>{188,17}</string>
            </dict>
            <key>b43_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,311},{182,11}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{182,11}}</string>
                <key>sourceSize</key>
                <string>{188,17}</string>
            </dict>
            <key>b44_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,285},{147,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,17}}</string>
                <key>sourceSize</key>
                <string>{147,17}</string>
            </dict>
            <key>b44_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,303},{143,11}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{143,11}}</string>
                <key>sourceSize</key>
                <string>{147,17}</string>
            </dict>
            <key>b45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,163},{120,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,17}}</string>
                <key>sourceSize</key>
                <string>{120,17}</string>
            </dict>
            <key>b45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,181},{116,11}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{116,11}}</string>
                <key>sourceSize</key>
                <string>{120,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>b.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:666ca78fc781addc0674d8f51770cf44$</string>
            <key>textureFileName</key>
            <string>b.pvr.ccz</string>
        </dict>
    </dict>
</plist>
