<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jz017_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1010},{386,234}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{386,234}}</string>
                <key>sourceSize</key>
                <string>{426,280}</string>
            </dict>
            <key>jz017_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{422,270}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{422,270}}</string>
                <key>sourceSize</key>
                <string>{426,280}</string>
            </dict>
            <key>jz018_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1232},{296,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{296,179}}</string>
                <key>sourceSize</key>
                <string>{326,215}</string>
            </dict>
            <key>jz018_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1246},{326,211}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{326,211}}</string>
                <key>sourceSize</key>
                <string>{326,215}</string>
            </dict>
            <key>jz019_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1010},{220,196}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{220,196}}</string>
                <key>sourceSize</key>
                <string>{242,234}</string>
            </dict>
            <key>jz019_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1793},{242,226}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{242,226}}</string>
                <key>sourceSize</key>
                <string>{242,234}</string>
            </dict>
            <key>jz020_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{261,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{261,175}}</string>
                <key>sourceSize</key>
                <string>{287,209}</string>
            </dict>
            <key>jz020_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{287,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,209}}</string>
                <key>sourceSize</key>
                <string>{287,209}</string>
            </dict>
            <key>jz027_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{934,482}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,48},{934,482}}</string>
                <key>sourceSize</key>
                <string>{1026,578}</string>
            </dict>
            <key>jz027_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{970,522}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{970,522}}</string>
                <key>sourceSize</key>
                <string>{1026,578}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainCitySpring3.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21d67257bef8c6966709a92f6c847506:1/1$</string>
            <key>textureFileName</key>
            <string>MainCitySpring3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
