<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jz001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,0},{455,292}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,29},{455,292}}</string>
                <key>sourceSize</key>
                <string>{503,350}</string>
            </dict>
            <key>jz001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{487,330}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{487,330}}</string>
                <key>sourceSize</key>
                <string>{503,350}</string>
            </dict>
            <key>jz002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,455},{277,228}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{277,228}}</string>
                <key>sourceSize</key>
                <string>{307,274}</string>
            </dict>
            <key>jz002_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,455},{307,256}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{307,256}}</string>
                <key>sourceSize</key>
                <string>{307,274}</string>
            </dict>
            <key>jz003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,663},{316,212}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,21},{316,212}}</string>
                <key>sourceSize</key>
                <string>{348,256}</string>
            </dict>
            <key>jz003_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{344,246}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{344,246}}</string>
                <key>sourceSize</key>
                <string>{348,256}</string>
            </dict>
            <key>jz004_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,674},{307,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{307,181}}</string>
                <key>sourceSize</key>
                <string>{337,217}</string>
            </dict>
            <key>jz004_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,330},{333,213}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{333,213}}</string>
                <key>sourceSize</key>
                <string>{337,217}</string>
            </dict>
            <key>jz005_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,252},{240,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{240,182}}</string>
                <key>sourceSize</key>
                <string>{264,218}</string>
            </dict>
            <key>jz005_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,683},{264,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{264,216}}</string>
                <key>sourceSize</key>
                <string>{264,218}</string>
            </dict>
            <key>jz006_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,0},{252,147}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{252,147}}</string>
                <key>sourceSize</key>
                <string>{278,175}</string>
            </dict>
            <key>jz006_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,762},{278,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,175}}</string>
                <key>sourceSize</key>
                <string>{278,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>MainCitySpring.pvr.ccz</string>
        </dict>
    </dict>
</plist>
